main {
    height: 100%;
    background-color: #eae8e8;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

main h1 {
    font-family: "DM Serif Text", serif;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    margin-top: 130px;
    padding: 20px;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
}

main h2 {
    font-family: "DM Serif Text", serif;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: justify;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
}

.entrada {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 25px;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
    text-align: justify;
}
.entrada img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 5px;
    background-color: #3023231e;
    border-radius: 4mm;
}
.por-entrada {
    margin-top: 10px;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 70px;
    text-align: left;
}
.por-entrada a {
    font-style: italic;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
}
.por-entrada a:hover {
    color: #0e8654;
}
.cita-izq {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 40px;
    height: min-content;
}

.cita-izq h3 {
    padding: 25px;
    font-size: 23px;
    background-color: rgba(67, 214, 178, 0.549);
    border-top-right-radius: 12mm;
    border-bottom-right-radius: 12mm;
    border-bottom-left-radius: 12mm;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    align-content: center;
    grid-template-rows: auto;
}

.cita-der {
    display: grid;
    grid-column-start: 6;
    grid-column-end: 7;
    margin-right: 40px;
    height: min-content;
}

.cita-der h3 {
    padding: 25px;
    font-size: 23px;
    background-color: #43d6b28c;
    border-top-right-radius: 12mm;
    border-bottom-right-radius: 12mm;
    border-bottom-left-radius: 12mm;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    align-content: center;
    grid-template-rows: auto;
}
hr {
    color: #dcdcdc;
    padding: 3px;
    margin-bottom: 12px;
    background-color: #00b98b;
}
